<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="ElasticSearchEventListener">
    <Parameter Name="serviceUri" Value="http://40.114.54.217:9200/"/>
    <Parameter Name="userName" Value="es_admin"/>
    <Parameter Name="password" Value="Elastic@12345"/>
    <Parameter Name="indexNamePrefix" Value="tracewriterservice"/>
  </Section>
</Settings>
